@page "{id:int}"
@model AspCoreDemoApp.Pages.Videos.IndexModel
@{
    ViewData["Title"] = "Videos";
}
<h4>Videos on Channel '@Model.Channel.Title'</h4>
<div class="row">
    <div class="col-md-12">
        <form action="./Index/@Model.Channel.Id" method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="search" class="form-control"
                           asp-for="SearchTerm" title="Enter Search Term" />
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a asp-page="../Index" class="btn btn-link btn-sm" asp-route-SearchTerm="@Model.ChannelSearchTerm" style="margin-bottom:10px;">
            <i class="fa fa-arrow-circle-left"></i>&nbsp;Back to Channels
        </a>
    </div>
    <div class="col-md-2">
        <a asp-page="./AddVideo" class="btn btn-link btn-sm" asp-route-channelId="@Model.Channel.Id" style="margin-bottom:10px;">
            <i class="fa fa-plus"></i>&nbsp;Add New Video
        </a>
    </div>
</div>
<div class="row">
    @foreach (var video in Model.Videos)
    {

        <div class="col-md-2" style="padding-bottom: 10px">
            <a asp-page="./Screen"
               asp-route-id="@video.Id" title="Play">
                @if (video.ImageUrl == null)
                {
                    <i class="fa fa-youtube-play"></i>
                }
                else
                {
                    <img src="@video.ImageUrl" alt="video image" width="175" />
                }
            </a>
        </div>
        <div class="col-md-4">
            <div><b>@video.Title</b></div>
            <div>@video.Description</div>
            <div>
                <a asp-page="./EditVideo"
                   asp-route-id="@video.Id" title="Edit">
                    <i class="fa fa-edit"></i>
                </a>&nbsp;&nbsp;
                <a asp-page="./DeleteVideo"
                   asp-route-id="@video.Id" title="Delete">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    }
</div>
@section Scripts {
}

