@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<h4>Channels</h4>
<form action="Index" method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" title="Enter Search  Term" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<a asp-page="AddChannel" class="btn btn-outline-success btn-sm">Add New</a>
<table class="table-fixed" style="width:100%;margin-top:10px">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Title</th>
            <th style="padding-right:7px;">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var channel in Model.Channels)
        {
            <tr>
                <td width="3%">
                    <a class="btn btn-lg" asp-page="./Videos/Index"
                       asp-route-id="@channel.Id" title="Videos">
                        <i class="fa fa-film"></i>
                    </a>

                </td>
                <td width="3%">
                    <a class="btn btn-lg" asp-page="./EditChannel"
                       asp-route-id="@channel.Id" title="Edit">
                        <i class="fa fa-edit"></i>
                    </a>

                </td>
                <td width="3%">
                    <a class="btn btn-lg" asp-page="./DeleteChannel"
                       asp-route-id="@channel.Id" title="Delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
                <td width="20%" style="padding-right:10px">@channel.Title</td>
                <td width="71%" style="padding-right:7px;">@channel.Description</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

}
